body {
  overflow-x: hidden;
  background-color: #ffffff;
}

#hero-section {
  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("reflection-site-assets/farmshare-crew.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-shadow: 4px 3px #244404;
}

#hero-section h1 {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.5rem;
}

#hero-section p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

i {
  color: #FFFFFF;
  font-size: 2rem;
}

@media screen and (orientation: landscape) {
  i {
    margin-left: 20px;
  }
}

.nav-item {
  color: #FFFFFF;
  margin-right: 20px;
}

#efforts-section {
  background-color: #B2C9AD;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  #efforts-section {
    padding: 2rem 4rem 4rem 4rem;
  }
}

#efforts-section h2 {
  text-align: center;
  font-family: "Montserrat", serif;
  color: #244404;
  padding-bottom: 1rem;
}

@media (max-width: 767px) {
  #efforts-section h2 {
    padding-top: 0.5rem;
  }
}

@media (min-width: 768px) {
  #efforts-section h2 {
    padding-bottom: 2rem;
  }
}

#efforts-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border: 5px solid #244404;
}

@media (max-width: 768px) {
  #efforts-section img {
  width: 70%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2rem;
 } 
}

#efforts-section p {
  padding: 1em;
  font-family: Arial, sans-serif;
}

#effects-section {
  background-color: #EFF5DD;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  #effects-section {
    padding: 2rem 2rem 4rem 2rem;
  }
}

#effects-section h2 {
  color: #4B5945;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  #effects-section h2 {
    padding-bottom: 3rem;
  }
}

#effects-section p {
  padding: 1em;
  font-family: Arial, sans-serif;
}

#effects-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border: 5px solid #244404;
}

@media (max-width: 768px) {
  #effects-section img {
  width: 70%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2rem;
 } 
}

#experience-section {
  background-color: #B2C9AD;
  text-align: center;
}

@media (max-width: 767px) {
  #experience-section {
    padding: 2rem 0;
  }
}

@media (min-width: 768px) {
  #experience-section {
    padding: 3rem 4rem 5rem 4rem;
  }
}

#experience-section i {
  font-size: 4rem;
  color: #424874;
}

#experience-section h2 {
  padding-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #244404;
}

@media (min-width: 768px) {
  #experience-section h2 {
    padding-bottom: 2rem;
  }
}

#experience-section p {
  font-family: Arial, sans-serif;
  padding: 1em;
}

#experience-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border: 5px solid #244404;
}

@media (max-width: 768px) {
  #experience-section img {
  width: 70%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2rem;
 } 
}

#accessibility-section {
  background-color: #EFF5DD;
  text-align: center;
}

@media (min-width: 768px) {
  #accessibility-section {
    padding: 2rem 2rem 4rem 2rem;
  }
}

#accessibility-section h2 {
  color: #4B5945;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  #accessibility-section h2 {
    padding-bottom: 3rem;
  }
}

#accessibility-section p {
  padding-bottom: 1rem;
}

#accessibility-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border: 5px solid #244404;
}

@media (max-width: 768px) {
  #accessibility-section img {
  width: 70%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2rem;
 } 
}

#footer-section {
  text-align: center;
  background-color: #4B5945;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

#footer-section p {
  margin: 0;
  font-family: Arial, sans-serif;
}

#hero-section,
#footer-section,
#efforts-section,
#effects-section,
#experience-section,
#accessibility-section {
  overflow: hidden;
}

#efforts-target,
#effects-target,
#experience-target,
#accessibility-target {
  position: relative;
  top: -100px;
}
